# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# typescript (regenerated automatically)
next-env.d.ts

# vercel
.vercel
